* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Parisienne", cursive;
  font-family: "Playball", cursive;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "EB Garamond", serif;
  background-color: #ede5da;
  color: #201b17;
  height: 1000px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
